
body{   
    background-image: url(./images/img3.png);
    background-position:center;
    background-size: cover; 
    background-attachment: fixed;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}
.number_game{ 
    width: 40rem;
    height: 20rem;
    background-image: url(./images/img4.png);
    background-size: cover;
    opacity: 0.7;
}
#check_btn{
    width: 5rem;
    height: 2rem;
    border: none;
    background-color:rgb(54, 54, 173);
    border-radius: 1rem;
    color:whitesmoke;
}
#reset_btn{
    width: 5rem;
    height: 2rem;
    border: none;
    background-color:rgb(54, 54, 173);
    border-radius: 1rem;
    color:whitesmoke;
}
.check_box{
    display: flex;
    justify-content:center;
}
#input_number { 
    width: 15rem;
    height: 1.6rem;
    border: 0.2rem solid rgb(186, 186, 230);
    border-radius: 5rem;
}
.result_box{
    display: flex;
    display: grid;
    margin-top: 2rem;
    flex-direction: column;
    justify-content:center;
    
  
  
}
#validation_check{
    font-size: 2rem;
    background-color: rgb(91, 73, 245);
    color:whitesmoke;
}
#number_check{
    font-size: 2rem;
    background-color: rgb(91, 73, 245);
    color:whitesmoke;
    margin-right: 5rem;
}

@media (max-width : 921px){
    #validation_check,#number_check {
        font-size: 1rem;
    }
    .number_game{
    width: 30rem;
    height: 15rem;  
    }
    #input_number { 
        width: 8rem;
        height: 1.2rem;
        border: 0.2rem solid rgb(186, 186, 230);
        border-radius: 5rem;
    }
    #check_btn{
        width: 3rem;
        height: 1rem;
        font-size: 0.5rem;
        margin-top: 0.4rem;
    }
    #reset_btn{
        width: 3rem;
        height: 1rem;
        font-size: 0.5rem;
        margin-top: 0.4rem;
    }   
}
    

    
